.DS_Store
Thumbs.db

# Backend
backend/target/
backend/.env
backend/.m2repo/
backend/backend-dev.*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.npm-cache/
frontend/vite-dev.*.log

# Scripts temp
scripts/.tmp/

# IDE
.metadata/
